<launch>
    <node pkg="pointcloud_utils" type="pointcloud_to_laserscan" name="lidar_to_laserscan" output="screen" required="true" >
    	<param name="cloud_sub_topic" value="/airsim_node/PhysXCar/lidar/VLP16_1" />
    	<param name="scan_pub_topic" value="/scan" />
    	<param name="scan_angle"     value="0.0" />     # [rad]
    	<param name="scan_frame" 	 value="VLP16_1"/>
    	<param name="position_tolerance" value="0.1" /> # [m]
    	<param name="resolution" 	 value="0.001" />     # [rad]
    </node>

    <include file="$(find pointcloud_utils)/launch/shell_grid_parser.launch" />

    <!--<node pkg="tf" type="static_transform_publisher" name="scan_tf_broadcaster" args="0 0 0  0 -1.0 0 VLP16_1 scan_1 10" /> -->
</launch>