<launch>
    <node pkg="pointsensor_positional_processing" type="intensity_filter_node" name="intensity_filter"
          required="true" output="screen" cwd="node">
         <param name="cloud_topic_in" value="/invz_topic_1" />
         <param name="cloud_topic_out" value="/filtered_points" />
         <param name="intensity_min" value="40" />
         <param name="intensity_max" value="50" />
    </node>
</launch> 